{% extends "all-awards/base.html" %}
{% load bootstrap4 %}
{% block content %}
<div style= "background-color:maroon; " class="container text-white"
    <div  class="col-md-4 text-center  form">
    <div id="regis">
        <div class="form-data text-center ">
            <form style= "font-size:20px; font-weight:bold;" action="{%url 'upload'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="intro btn btn-warning">Upload Your Project</h2>
                {% bootstrap_form form%}
                <button class="btn btn-warning" type="submit">Upload</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

