<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="nav-link active" aria-current="page" href="/"><span class = "span" style= " color:black;font-size:25px;" >Awwards254</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        
        <li class="nav-item">
         
        </li>
      <li class="nav-item dropdown">
        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a> -->
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Home</a>
          <a class="dropdown-item" href="#">Log Out</a>
          <div class="dropdown-divider"></div>
          <!-- <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
      <li class="nav-item">
        
      </li>
    </ul>
  
        
      <a class="nav-link active text-white" aria-current="page" id="profile" href="/profile/" height="20px" width="20px">
        <img src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png"/></a>
    <form class=" form" role="search" action="{% url 'search.post' %}">
      <div class="input-group " >
        <input type="text" class="form-control" placeholder="Search project name" name="search" style="height: 30px; width: 200px;" >
        <div class="input-group-btn">
         
        </div>
      </div>
    </form>
  </div>
</nav>